:root {
  --bg-main: #ffffff;
  --bg-sidebar: #f2f2f2;
  --bg-card: #ffffff;

  --text-main: #111111;
  --text-muted: #555555;
  --border-color: #e5e7eb;
}

[data-theme="dark"] {
  --bg-main: #0f1419;
  --bg-sidebar: #1a1f22;
  --bg-card: #111827;

  --text-main: #ffffff;
  --text-muted: #9ca3af;
  --border-color: #2a2f35;
}
